body {
  background-color: #2F4454 !important;
}

@media (max-width: 766px) {
  .inputBox{
      max-width: 90vw;
      min-width: 90vw;
  }
  #sideNav {
    display: none;
  }

}
@media (min-width: 767px) {
  .inputBox {
    max-width: 35vw;
    min-width: 35vw;
  }
  .MuiBottomNavigationAction-root {
    display: none !important;
  }

}

/* Desktop Top Nav */
.MuiPaper-root {
  background-color: #376e6f !important;
  color: #DEF2F1 !important;
}
#linkedInIcon {
  margin-right: 30px;
}
#linkedInIcon:hover {
  color: #5085a5;
}

/* Submit Form */
#submitEntry {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

/* Shared b/w forms */
.inputBox {
  display: flex;
  margin: 10px auto;
  border-radius: 7px;
  text-align: center;
  min-height: 9vh;
  background-color: #376e6f;
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* Stored Companies */
.listEntry {
  padding-top: 10px;
  margin-top: 5px;
  border-radius: 3px;
}
#listStructure {
  display: flex;
  flex-wrap: wrap;
}
#outputDisplayBoxes {
    border: 3px solid black;
    border-radius: 10px;
    min-width: 33vw;
    min-height: 33vh;
    margin: 5px auto;
    padding: 0 20px 0 0;
}

/* Shared b/w ShowCompany & StoredCompanies */
#companyEntry{
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #DEF2F1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  list-style: none;
}
li span {
  color: white;
}

/* Bot Nav Bar */
#botNav {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
#moveUpFromBotNav {
  padding-top: 100px;
}

/* Button Styling */
.sortingButtons {
  border-radius: 3px;
  display: flex;
 justify-content: center;
}

.sortingButtons button {
  background-color: #376e6f;
  border-color: #DEF2F1;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 10px 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #DEF2F1;
}

.sortingButtons button:hover {
  background-color: #5085a5;
}

.functionalButtons {
  background-color: #376e6f;
  border-color: #DEF2F1;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 10px 5px 0;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #DEF2F1;
}
.functionalButtons:hover {
  background-color: #5085a5;
}

/* Fix Link tag underline w/o inline */
a {
  text-decoration: none;
  color: #DEF2F1;
}

/* fix input number toggle */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Dragula mobile rendering speed fix */
.gu-hide{
  left:-9999px !important;
}
